.form{
    display: flex;
    flex-direction: column;
    gap: 20px;
    width: 600px;
    margin: 50px auto;
}
.field{
    padding: 10px;
    font-size: 17px;
}

textarea.field{
    resize: none;
}

.button{
    background-color: blue;
    color: white;
    padding: 10px;border: none;
    border-radius: 10px;
    cursor: pointer;
    transition: all 0.5s;
    font-size: 20px;
}

.button:hover{
    background-color: rgb(24, 141, 141);
}